.form {
  background-color: #e5e7eb;
  box-sizing: border-box;
  padding: 15px 8px;
  border-radius: 9px;
  align-items: center;
}
.form__wrapper {
  display: flex;
  gap: 2px;
}

.form__center {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}
.form__right,
.form__left {
  font-size: 30px;
  color: #000;
  width: 40px;
}
